#root {
  width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pagination {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.paginationItem {
  padding: 5px;
  border: solid 1px grey;
  background-color: lightgrey;
}

.paginationItem button:focus,
.paginationItem button:active {
  outline: 0;
}

.isCorrect {
  background-color: lightgreen;
}

.isWrong {
  background-color: red;
}

.isActive {
  font-weight: 700;
  border: 2px solid #000;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.questions li {
  margin-bottom: 10px;
}

.btnNumber {
  padding: 0 2px;
  background-color: transparent;
}

.btn {
  margin-bottom: 15px;
}

.result {
  font-weight: 700;
  color: green;
}

.failed {
  text-align: center;
  font-weight: 700;
  color: red;
}

.explanation {
  color: red;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: 700;
  margin-bottom: 15px;
}

em {
  color: grey;
}
